.profile {
    width: 100%;
    max-width: 1280px;
    box-sizing: border-box;
    padding: 40px 200px 0 200px;
    margin: 0;
    display: grid;
    grid-template-columns: 120px min-content auto 150px;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "avatar name edit-button add-button"  
    "avatar status status add-button";
    row-gap: 16px;
}

/*стили для маленьких мониторов и мобильных устройств*/

/*ТУТ ПО ПРЕЖНЕМУ ВСЕ КРИВО*/

@media screen and (max-width: 1060px) {
    .profile {
        padding: 42px 19px 0 19px;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: "avatar avatar"  
        "name edit-button"
        "status status"
        "add-button add-button";
    }
}