.profile__add-button {
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 146px; /*150 пикселей из макета минус по 2 пикселя рамки с обеих сторон*/
    height: 46px; /*50 пикселей из макета минус по 2 пикселя рамки с обеих сторон*/
    margin: 0 auto;
}

/*стили для маленьких мониторов и мобильных устройств*/

@media screen and (max-width: 1060px) {
    .profile__add-button {
        width: 278px; /*282 пикселя из макета минус по 2 пикселя рамки с обеих сторон*/
    }
}