.popup__save-button {
    cursor: pointer;
    width: 358px;
    height: 50px;
    background-color: #000000;
    color: #FFFFFF;
}

.popup__save-button:hover {
    opacity: 0.8;
}

/*стили для маленьких мониторов и мобильных устройств*/

@media screen and (max-width: 1060px) {
    .popup__save-button {
        width: 238px;
        height: 46px;
    }
}