.profile__info {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 30px;
    margin: 0;
}

/*стили для маленьких мониторов и мобильных устройств*/

@media screen and (max-width: 1060px) {
    .profile__info {
        padding: 26px 0 36px;
    }
}